/* 
Variables 
*/
:root {
    --primaryLightColor: #d4e6a5;
    --primaryColor: #476a2e;
    --primaryDarkColor: #c02c03;
    --primaryYellow: yellow;
    --mainWhite: #fff;
    --offWhite: #f7f7f7;
    --mainBackground: #f1f5f8;
    --mainOverlay: rgba(35, 10, 36, 0.4);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --darkGrey: #afafaf;
    --mainRed: #bd0303;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.3rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    --mainBorderRadius: 0.25rem;
    --smallWidth: 85vw;
    --maxWidth: 40rem;
    --fullWidth: 1500px;
  }
  /* 
  Global Styles 
  */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Roboto, sans-serif;
    color: var(--mainBlack);
    background: #fff;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 300;
    background-image: url("./assets/motif3.jpg");
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--slantedFont);
    margin-bottom: 1.25rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor)
  }
  p {
    margin-bottom: 1rem;
  }

  ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--mainBlack);
  }
  img {
    width: 100%;
    display: block;
  }
  
  /* 
  Buttons 
  */
  .btn,
  .btn-white,
  .btn-primary {
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 0.45rem 0.8rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    border-radius: var(--mainBorderRadius);
    display: inline-block;
    margin-top: 50px;
  }
  .btn:hover {
    background: var(--primaryColor);
    color: var(--mainWhite);
  }
  .btn-white {
    background: transparent;
    color: var(--mainWhite);
    border-color: var(--mainWhite);
  }
  .btn-white:hover {
    background: var(--mainWhite);
    color: var(--primaryColor);
  }
  .btn-primary {
    background: var(--primaryColor);
    color: var(--mainWhite);
    border-color: transparent;
  }
  .btn-primary:hover {
    background: var(--primaryYellow);
    color: var(--primaryColor);
  }
  .btn-block {
    width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: var(--lightShadow);
    text-align: center;
  }
  .btn-details {
    padding: 0.25rem 0.4rem;
    position: absolute;
    bottom: 20px;
    left: 20%;
    transform: translateX(-50%);
  }
  .btn-details:hover {
    background: var(--primaryYellow);
    border-color: var(--primaryYellow);
  }

  .btn-contact{
    padding: 1rem 5rem;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
  }
  

  /* 
  Navbar
  */
  .navbar {
    background: var(--mainWhite);
    height: 6rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-links a {
    text-transform: capitalize;
    display: inline-block;
    font-weight: bold;
    margin-right: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    transition: var(--mainTransition);
  }
  .nav-links a:hover {
    color: var(--primaryColor);
  }
  .logo {
    width: 12rem;
  }
  /* 
  About
  */
  .about-section {
    display:flex;
    width: var(--fullWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
  }
  .about-section p {
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
  }

  .about-title{
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: left;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }

  .about-title:hover{
    transform: scale(1.1);
    transition: var(--mainTransition);
    cursor: pointer;
  }

  .par-about:hover{
    transform: scale(1.1);
    transition: var(--mainTransition);
    cursor: pointer;
  }



  .img-about{
    border-radius:2rem;
    width: 750px;
    margin-left: 5rem;
    box-shadow: var(--lightShadow)
  }

  .img-about:hover{
    transform: scale(1.2);
    transition: var(--mainTransition);
  }

  .serv-section{
    width: var(--fullWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
  }
  /* 
  Error
  */
  .error-page {
    display: flex;
    justify-content: center;
  }
  .error-container {
    text-align: center;
    text-transform: capitalize;
  }
  /* 
  Recipe List 
  */
  
  .section {
    padding: 10rem 0;
  }
  .section-title {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  .recipes-center {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
  }
  @media screen and (min-width: 576px) {
    .recipes-center {
      grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
    }
  }
  /* 
  Recipe 
  */
  
  .recipe {
    background: var(--mainWhite);
    margin-bottom: 2rem;
    box-shadow: var(--lightShadow);
    transition: var(--mainTransition);
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: var(--mainBorderRadius);
    width: 100%;
    height: 100%;

  }
  .recipe:hover {
    box-shadow: var(--darkShadow);
  }
  .recipe img {
    height: 20rem;
    object-fit: cover;
    border-top-left-radius: var(--mainBorderRadius);
    border-top-right-radius: var(--mainBorderRadius);
  }
  .recipe-footer {
    padding: 1.5rem;
    position: relative;
  }
  .recipe-footer h3,
  .recipe-footer h4,
  .recipe-footer p {
    margin-bottom: 0.3rem;
  }
  .recipe-footer h3 {
    font-size: 2rem;
  }
  .recipe-footer p {
    color: var(--darkGrey);
    margin-bottom: 0.5rem;
  }
  /* 
  Search
  */
  .app{
    background-color: rgba(255, 255, 255, 0.5);
  }


  .search {
    margin-top: 1rem;
    padding-bottom: 0;
  }
  
  .search-form {
    margin: 0 auto;
    max-width: var(--fullWidth);
    background: var(--mainWhite);
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: var(--mainBorderRadius);
    box-shadow: var(--lightShadow);
  }
  
  .form-control label {
    display: block;
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: var(--primaryColor);
  }
  .form-control input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: var(--mainGrey);
    border-radius: var(--mainBorderRadius);
    padding: 1rem;
    font-size: 1.2rem;
  }


  .contact-form{
    width: var(--maxWidth);
    margin-bottom: 5rem;
  }

  .contact-form label{
    display: block;
    margin: 1.5rem 0 0 0;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: var(--primaryColor);
  }

  .contact-form input {
    border-radius: var(--mainBorderRadius);
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
  }

  .contact-form textarea {
    border-radius: var(--mainBorderRadius);
    padding: 0.5rem;
    height: 10rem;
    font-size: 1.2rem;
    border: 1px solid var(--primaryColor);
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
  }


  .contact-img{
    border-radius:2rem;
    width: 750px;
    margin-left: 10rem;
    box-shadow: var(--lightShadow)
  }

  
  .contact-img:hover{
    transform: scale(1.2);
    transition: var(--mainTransition);
  }

  .contact-section{
    width: var(--fullWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
    display: flex;
  }

  .contact-title{
    margin-left: 26rem;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: left;
    margin-bottom: 3.5rem;
    margin-top: 10rem;
  }

  .contact-title:hover{
    transform: scale(1.1);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  /* 
  ====== 
  Recipe
  ======
  */
  
  .recipe-section {
    text-align: center;
  }
  .recipe-item {
    width: var(--smallWidth);
    max-width: var(--fullWidth);
    margin: 0 auto;
    text-align: left;
  }
  .recipe-item img {
    border-radius: var(--mainBorderRadius);
  }
  .recipe-item p {
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.8;
  }
  .recipe-item span {
    margin-right: 0.5rem;
    font-weight: bold;
  }
  .recipe-item-data {
    color: var(--primaryColor);
    font-weight: bold;
    font-size: 1.2rem;
  }
  .recipe-item-info {
    padding-top: 2rem;
  }

  .recipe-div{
    display: flex;
    justify-content: space-between;
  }

  .recipe-title{
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: underline;
  }

  .btn-recipe{
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 1rem;
  }


  @media screen and (min-width: 992px) {
    .recipe-item {
      display: grid;
      grid-template-columns: 2fr 3fr;
      gap: 3rem;
      align-items: center;
    }
    .recipe-item-info {
      padding-top: 0;
    }
  }

  /* Loader */

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--primaryColor);
    margin: 88px auto;
    width: 320px;
    height: 320px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .App{
    padding-bottom: 50px;
  }

  video {
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }

  .element {
    width: 450px;
    height: 300px;
    background-color:#476a2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 5rem;
  }

  .element:hover{
    transform: scale(1.1);
    transition: var(--mainTransition);
  }

  .el-title{
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
  }

  .el-descr{
    color: white;
    text-align: center;
  }

  .el-section{
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    width: var(--fullWidth);
    max-width: var(--fullWidth);
  }

  .icons {
    font-size:3rem;
    color: #fff;
    display: flex;
    margin: 0 auto;
  }

  .big{
    font-size: 4rem;
  }

.App {
  color: #fff;
  text-align: center;
  padding-top: 4rem;
}

  .add-recipes {
    display: grid;
    max-width: 1024px;
    margin: 2rem auto 0;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 1rem;
  }

  .add-recipe {
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
    border-bottom: 2px solid var(--primaryColor);
    box-shadow: var(--lightShadow);
  }

  .add-btn{
    width: 500px;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    color: #fff;
    background:var(--primaryColor);
    border: 2px solid var(--primaryColor);
    padding: 1rem;
    display: inline-block;
    transition: var(--mainTransition);
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: var(--mainBorderRadius);
    margin: 5rem 60rem;
  }

  button.remove {
    color: var(--light);
    background-color: var(--crimson);
  }


  .buttons {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: -0.5rem;
    color: #fff;
  }
  
  ol, ul {
    list-style: none;
  }
  
  li {
    line-height: 1.4;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    text-align: left;
  }
  
  .popup-inner {
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 480px;
    overflow: auto;
    max-height: calc(100vh - 4rem);
  }
  
  .popup h2 {
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group:last-of-type {
    margin-bottom: 0;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
    resize: vertical;
    max-height: 200px;
    margin-bottom: 0.5rem;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .form-group button {
    margin-top: 1rem;
  } 

